$palette: (
  primary: (
    1: #077187,
    2: #0F7C89,
    3: #1E938E,
    4: #63B4B1,
    5: #6EC4B4
  ),
  secondary: (
    1: #FE8F34,
    2: #FF9945
  ),
  light: (
    1: #ffffff,
    2: #F6f6f6,
    3: #e8e8e8
  ),
  dark: (
    1: #000000,
  )
)