$font-stack: 'Source Sans Pro','Roboto', sans-serif;

$hero-font-size-web: 48px;
$hero-font-size-tab: 36px;
$hero-font-size-phone: 36px;

$title-font-size-web: 36px;
$title-font-size-tab: 28px;
$title-font-size-phone: 28px;

$subtitle-font-size-web: 24px;
$subtitle-font-size-tab: 24px;
$subtitle-font-size-phone: 24px;

$content-font-size-web: 18px;
$content-font-size-tab: 14px;
$content-font-size-phone: 12px;

$btn-font-size-web-xg: 1.2rem;
$btn-font-size-web-sm: 0.7rem;
$btn-font-size-tab: 1.1rem;
$btn-font-size-phone: 1rem;

$regular:400;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

$letter-spacing: 1px;