<div class="app-container">
  <img class="app-img" src="image/app.png"/>
  <div class="content-holder">
    <h2 class="title">Linqto App is now available. </h2>
    <p class="content">donec pretium vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae elementum curabitur vitae nunc sed velit dignissim sodales ut</p>
    <div class="dlbtn-group">
      <img class="dlbtn" src="image/android.png"/>
      <img class="dlbtn" src="image/appStore.png">
    </div>
  </div>
</div>