<div class="feature-container">
  <h2 class="title">What We Deliver</h2>
  <div class="security">
    <img src="image/placeholder/security.svg" />
    <div class="content-holder">
      <h2 class="header">Security</h2>
      <p class="content">donec pretium vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae elementum curabitur vitae
        nunc sed velit dignissim sodales ut</p>
    </div>
  </div>
  <div class="invest">
    <div class="content-holder">
      <h2 class="header">Liquidity</h2>
      <p class="content">donec pretium vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae elementum curabitur vitae
        nunc sed velit dignissim sodales ut</p>
    </div>
    <img src="image/placeholder/invest.svg" />
  </div>
  <div class="mobility">
    <img class="mobility-img" src="image/placeholder/mobility.svg" />
    <div class="content-holder">
      <h2 class="header">Mobility</h2>
      <p class="content">donec pretium vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae elementum curabitur vitae
        nunc sed velit dignissim sodales ut</p>
    </div>
  </div>
</div>