<div class="feature-container">
  <h2 class="title">What we deliver</h2>
  <div class="security">
    <img src="image/placeholder/security.svg"/>
    <div>
      <h2>Security</h2>
      <p>donec pretium vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae elementum curabitur vitae nunc sed velit dignissim sodales ut</p>
    </div>
  </div>
  <div>
     <h2>Liquidity</h2>
      <p>donec pretium vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae elementum curabitur vitae nunc sed velit dignissim sodales ut</p>
  </div>
  <div>
     <h2>Mobility</h2>
      <p>donec pretium vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae elementum curabitur vitae nunc sed velit dignissim sodales ut</p>
  </div>
</div>