<div class="footer">
  <div class="holder-1">
    <img src="image/logo-horizontal.svg">
    <div><span>&copy;</span> 2020 Linqto. Inc. All rights Reserved</div>
  </div>
  <div class="holder-2">
    <a>Term of Use</a>
    <a>Privacy</a>
    <a>Investment Platform Rules</a>
    <a>Contact Us</a>
  </div>
  <div></div>
  <div class="holder-3">
    <a class="social-icon"><img src="image/icons/facebook.png"></a>
    <a class="social-icon"><img src="image/icons/linkedin.png"></a>
  </div>
</div>