<div class="global-container">
  <div class="content-holder">
    
    <div class="subholder">
      <h2 class="title">Trade globally with ease</h2>
      <h6 class="subtitle">- Accredited Investor</h6>
      <p class="content">Your globaliD is your on-chain, decentralized and immutable identification.</p>
      <h6 class="subtitle">- KYC/AML</h6>
      <p class="content">Your valid KYC/AML attestation is portable and globally accepted.</p>
      <h6 class="subtitle">- Immutable Identity</h6>
      <p class="content">Investor accreditation will facilitate trading in multiple jurisdictions.</p>
    </div>
    <img class="global-img" src="image/placeholder/global.svg"/>
  </div>
  
  <button class="global-btn">Get your global Investor ID</button>
</div> 
