<div class="intro-container">
  <h2 class="title">Private investing made simple.</h2>
  <p class="content">Linqto is a technology-enabled online investment platform allowing Accredited Investors to identify, evaluate, invest and trade securities in the world’s leading Unicorns.</p>
  <button class="btn invest-btn">Invest now</button>
  <div class="icon">{{#scroll-next}}<img class="arrow-icon" src="image/icons/arrow.svg"/>{{/scroll-next}}</div>
</div>
