<nav class="navbar">
  <div class="logo-holder">Linqto</div>
  <div class="main-menu">
    <a class="nav-btn">Market</a>
    <a class="nav-btn">About Us</a>
    <a class="nav-btn">News</a>
    <a class="nav-btn">Sign up/Log in</a>
  </div>
</nav>