<div class="pick-container">
  <h2 class="title">Popular Pick</h2>
  <div class="company-container">
    <div class="img-container"><img src="image/blockchaincoinvestor.png"/></div>
    <div class="img-container"><img src="image/coinbase.png"/></div>
    <div class="img-container"><img src="image/joule.png"/></div>
    <div class="img-container"><img src="image/lenderwize.png"/></div>
    <div class="img-container"><img src="image/linqto.png"/></div>
    <div class="img-container"><img src="image/ripple.png"/></div>
    <div class="img-container"><img src="image/robinhood.png"/></div>
  </div>
  <div class="see-more">see more</div>
</div>
<div class="triangle"></div>