<div class="pick-container">
  <h2 class="title">Popular Pick</h2>
  <div class="company-container">
    <img src="image/blockchaincoinvestor.png"/>
    <img src="image/coinbase.png"/>
    <img src="image/joule.png"/>
    <img src="image/lenderwize.png"/>
    <img src="image/linqto.png"/>
    <img src="image/ripple.png"/>
    <img src="image/robinhood.png"/>
  </div>
  <div class="see-more">see more</div>
</div>
<div class="triangle"></div>