@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&family=Source+Sans+Pro:wght@400;600;700;900&display=swap");
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  justify-content: space-between;
  color: white;
  padding: 0 50px;
  font-size: 36px;
  padding-top: 30px;
}
@media screen and (max-width: 850px) {
  .navbar {
    align-items: flex-start;
  }
}
.navbar .logo {
  width: 150px;
}
.navbar .main-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.navbar .main-menu .nav-btn {
  padding: 5px 10px;
  font-size: 14px;
}
@media screen and (max-width: 850px) {
  .navbar .main-menu {
    display: none;
  }
}
.navbar .hamburger-menu {
  display: none;
  position: relative;
  z-index: 99;
  text-align: right;
}
@media screen and (max-width: 850px) {
  .navbar .hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
  }
}
.navbar .hamburger-menu .hamburger {
  width: 31px;
  height: 31px;
  padding: 7px;
  cursor: pointer;
}
@media (hover: hover) {
  .navbar .hamburger-menu .hamburger:hover .hamburger-line:before {
    right: calc(100% + 8px);
  }
  .navbar .hamburger-menu .hamburger:hover .hamburger-line:after {
    left: 0;
  }
}
.navbar .hamburger-menu .hamburger-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}
.navbar .hamburger-menu .hamburger-line {
  position: relative;
  width: 100%;
  height: 2px;
  transition: all 900ms cubic-bezier(0.19, 1, 0.22, 1);
  overflow: hidden;
}
.navbar .hamburger-menu .hamburger-line:last-of-type {
  width: 100%;
  align-self: flex-end;
}
.navbar .hamburger-menu .hamburger-line:before, .navbar .hamburger-menu .hamburger-line:after {
  position: absolute;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  transition: all 900ms cubic-bezier(0.19, 1, 0.22, 1);
}
.navbar .hamburger-menu .hamburger-line:after {
  background-color: white;
  left: calc(100% + 8px);
}
.navbar .hamburger-menu .hamburger-line:before {
  right: 0;
  background-color: white;
}
.navbar .hamburger-menu .hamburger-line:nth-child(1):before, .navbar .hamburger-menu .hamburger-line:nth-child(1):after {
  transition-delay: 0s;
}
.navbar .hamburger-menu .hamburger-line:nth-child(2):before, .navbar .hamburger-menu .hamburger-line:nth-child(2):after {
  transition-delay: 0.05s;
}
.navbar .hamburger-menu .hamburger-line:nth-child(3):before, .navbar .hamburger-menu .hamburger-line:nth-child(3):after {
  transition-delay: 0.1s;
}
.navbar .hamburger-menu .hamburger-line:nth-child(4):before, .navbar .hamburger-menu .hamburger-line:nth-child(4):after {
  transition-delay: 0.15s;
}
.navbar .hamburger-menu .hamburger-line:nth-child(5):before, .navbar .hamburger-menu .hamburger-line:nth-child(5):after {
  transition-delay: 0.2s;
}
.navbar .hamburger-menu .hamburger-line:nth-child(6):before, .navbar .hamburger-menu .hamburger-line:nth-child(6):after {
  transition-delay: 0.25s;
}
.navbar .hamburger-menu .hamburger-line:nth-child(7):before, .navbar .hamburger-menu .hamburger-line:nth-child(7):after {
  transition-delay: 0.3s;
}
.navbar .hamburger-menu .hamburger-line:nth-child(8):before, .navbar .hamburger-menu .hamburger-line:nth-child(8):after {
  transition-delay: 0.35s;
}
.navbar .hamburger-menu .hamburger-line:nth-child(9):before, .navbar .hamburger-menu .hamburger-line:nth-child(9):after {
  transition-delay: 0.4s;
}
.navbar .hamburger-menu .hamburger-line:nth-child(10):before, .navbar .hamburger-menu .hamburger-line:nth-child(10):after {
  transition-delay: 0.45s;
}
.navbar .hamburger-menu .hamburger-line:nth-child(11):before, .navbar .hamburger-menu .hamburger-line:nth-child(11):after {
  transition-delay: 0.5s;
}
.navbar .hamburger-menu .hamburger-line:nth-child(12):before, .navbar .hamburger-menu .hamburger-line:nth-child(12):after {
  transition-delay: 0.55s;
}
.navbar .hamburger-menu .hamburger-line:nth-child(13):before, .navbar .hamburger-menu .hamburger-line:nth-child(13):after {
  transition-delay: 0.6s;
}
.navbar .hamburger-menu .hamburger-line:nth-child(14):before, .navbar .hamburger-menu .hamburger-line:nth-child(14):after {
  transition-delay: 0.65s;
}
.navbar .hamburger-menu .hamburger-line:nth-child(15):before, .navbar .hamburger-menu .hamburger-line:nth-child(15):after {
  transition-delay: 0.7s;
}
.navbar .hamburger-menu .hamburger-line:nth-child(16):before, .navbar .hamburger-menu .hamburger-line:nth-child(16):after {
  transition-delay: 0.75s;
}
.navbar .hamburger-menu .hamburger-line:nth-child(17):before, .navbar .hamburger-menu .hamburger-line:nth-child(17):after {
  transition-delay: 0.8s;
}
.navbar .hamburger-menu .hamburger-line:nth-child(18):before, .navbar .hamburger-menu .hamburger-line:nth-child(18):after {
  transition-delay: 0.85s;
}
.navbar .hamburger-menu .hamburger-line:nth-child(19):before, .navbar .hamburger-menu .hamburger-line:nth-child(19):after {
  transition-delay: 0.9s;
}
.navbar .hamburger-menu .hamburger-line:nth-child(20):before, .navbar .hamburger-menu .hamburger-line:nth-child(20):after {
  transition-delay: 0.95s;
}
.navbar .hamburger-menu .hamburger-line:nth-child(21):before, .navbar .hamburger-menu .hamburger-line:nth-child(21):after {
  transition-delay: 1s;
}
.navbar .hamburger-menu .hamburger.active .hamburger-line:first-of-type {
  transform: translate(0, 5.146px) rotate(135deg);
}
.navbar .hamburger-menu .hamburger.active .hamburger-line:last-of-type {
  width: 100%;
  transform: translate(0, -5.146px) rotate(45deg);
}

.side-menu {
  display: none;
  background-color: #f4f4f4;
  width: 100%;
  padding: 30px 0;
  height: 100vh;
  color: #077187;
}
.side-menu .nav-btn {
  padding: 10px 30px;
  font-size: 26px;
  text-align: center;
}

.show-menu {
  display: flex;
  z-index: 99;
  position: absolute;
  margin-top: 20px;
  flex-direction: column;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.intro-container {
  padding: 15% 15% 5%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 850px) {
  .intro-container {
    padding: 5% 15% 5%;
  }
}
.intro-container .title {
  font-size: 48px;
  margin-bottom: 0;
  letter-spacing: 1px;
}
.intro-container .content {
  font-size: 18px;
  font-weight: 400;
}
.intro-container .invest-btn {
  border: 2px solid white;
  width: 150px;
  height: 50px;
  border-radius: 27px;
  font-size: 1.2rem;
  color: white;
}
.intro-container .icon {
  margin: 0 auto;
  margin-top: 100px;
}
.intro-container .icon .arrow-icon {
  width: 30px;
}
@media screen and (max-width: 850px) {
  .intro-container .icon {
    margin-top: 50px;
  }
}

.feature-container {
  display: flex;
  flex-direction: column;
  padding: 10vh 15vw;
}
@media screen and (max-width: 850px) {
  .feature-container {
    padding: 5vh 15vw;
  }
}
.feature-container .title {
  font-size: 36px;
  color: #077187;
  text-align: center;
  margin-bottom: 50px;
}
.feature-container .security, .feature-container .mobility {
  display: flex;
  margin-bottom: 50px;
}
@media screen and (max-width: 850px) {
  .feature-container .security, .feature-container .mobility {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
  }
}
.feature-container .security img, .feature-container .mobility img {
  width: 300px;
}
.feature-container .security .content-holder, .feature-container .mobility .content-holder {
  padding: 20px 50px 20px 100px;
}
@media screen and (max-width: 850px) {
  .feature-container .security .content-holder, .feature-container .mobility .content-holder {
    padding: 20px;
  }
}
.feature-container .security .mobility-img, .feature-container .mobility .mobility-img {
  width: 200px;
  padding-left: 50px;
}
.feature-container .invest {
  display: flex;
  margin-bottom: 50px;
}
@media screen and (max-width: 850px) {
  .feature-container .invest {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}
.feature-container .invest img {
  width: 300px;
}
.feature-container .invest .content-holder {
  padding: 20px 100px 20px 0px;
}
@media screen and (max-width: 850px) {
  .feature-container .invest .content-holder {
    padding: 20px;
  }
}

.pick-container {
  background-color: #F6f6f6;
  display: flex;
  flex-direction: column;
  padding: 10vh 13vw;
}
@media screen and (max-width: 850px) {
  .pick-container {
    padding: 5vh 15vw;
  }
}
.pick-container .title {
  font-size: 36px;
  color: #077187;
  text-align: center;
  margin-bottom: 50px;
}
.pick-container .company-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.pick-container .company-container img {
  width: 150px;
  padding: 30px;
}
@media screen and (max-width: 850px) {
  .pick-container .company-container img {
    padding: 10px;
  }
}
.pick-container .see-more {
  text-align: center;
  color: #077187;
  text-decoration: underline;
  font-size: 18px;
}
@media screen and (max-width: 850px) {
  .pick-container .see-more {
    margin-top: 20px;
  }
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 200px 100vw 0 0;
  border-color: #F6f6f6 transparent transparent transparent;
}

.app-container {
  margin-top: -150px;
  display: flex;
  flex-direction: row;
  padding: 0 10vw;
}
@media screen and (max-width: 850px) {
  .app-container {
    flex-direction: column;
    align-items: center;
  }
}
.app-container .app-img {
  width: 350px;
}
.app-container .content-holder {
  padding: 50px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 850px) {
  .app-container .content-holder {
    padding: 0;
  }
}
.app-container .content-holder .title {
  font-size: 36px;
  color: #077187;
  margin-bottom: 0;
}
.app-container .content-holder .content {
  padding-right: 50px;
}
.app-container .content-holder .dlbtn-group {
  margin-top: 50px;
}
@media screen and (max-width: 850px) {
  .app-container .content-holder .dlbtn-group {
    margin-top: 20px;
  }
}
.app-container .content-holder .dlbtn-group .dlbtn {
  width: 150px;
  margin-right: 30px;
}
@media screen and (max-width: 850px) {
  .app-container .content-holder .dlbtn-group .dlbtn {
    width: 120px;
    margin-right: 10px;
  }
}

.global-container {
  display: flex;
  flex-direction: column;
  padding: 5vh 10vw;
}
.global-container .content-holder {
  display: flex;
}
@media screen and (max-width: 850px) {
  .global-container .content-holder {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.global-container .content-holder .title {
  font-size: 36px;
  color: #077187;
}
.global-container .content-holder .subholder {
  padding-right: 30px;
}
@media screen and (max-width: 850px) {
  .global-container .content-holder .subholder {
    padding-right: 0;
  }
}
.global-container .content-holder .subholder .subtitle {
  font-size: 24px;
  margin: 0;
}
.global-container .content-holder .subholder .content {
  font-size: 18px;
  margin-top: 0;
}
.global-container .global-img {
  width: 600px;
  margin-right: -10vw;
}
@media screen and (max-width: 850px) {
  .global-container .global-img {
    width: 100%;
    margin-right: 0;
  }
}

.global-btn {
  border: 2px solid white;
  border-radius: 27px;
  font-size: 1.2rem;
  color: white;
  width: 300px;
  height: 50px;
  background-color: #6EC4B4;
  margin: 0 auto;
}
@media screen and (max-width: 850px) {
  .global-btn {
    margin-top: 30px;
  }
}

.newsletter-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}
@media screen and (max-width: 850px) {
  .newsletter-container {
    padding: 0 40px;
    padding-bottom: 100px;
  }
}
.newsletter-container .title {
  font-size: 36px;
  color: #077187;
  text-align: center;
}
.newsletter-container .input {
  width: 250px;
  height: 30px;
  margin: 0 auto;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  margin-bottom: 20px;
}
.newsletter-container .input:focus {
  border: 1px solid #c4c4c4;
  outline: none !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.newsletter-container .subscribe-btn {
  width: 150px;
  margin: 0 auto;
  border: 2px solid white;
  border-radius: 27px;
  font-size: 1.2rem;
  color: white;
  width: 150px;
  height: 50px;
  background-color: #6EC4B4;
}

.footer {
  background-color: #077187;
  display: flex;
  flex-direction: row;
  padding: 20px 50px;
  color: white;
  justify-content: space-between;
}
@media screen and (max-width: 850px) {
  .footer {
    padding: 20px 30px;
  }
}
.footer .holder-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
@media screen and (max-width: 850px) {
  .footer .holder-1 {
    padding-right: 10px;
  }
}
@media screen and (max-width: 850px) {
  .footer .holder-1 .copyright {
    font-size: 12px;
  }
}
.footer .holder-2 {
  display: flex;
  flex-direction: column;
}
.footer .holder-2 a {
  padding: 5px;
}
.footer .holder-3 {
  display: flex;
  align-items: flex-end;
}
.footer .holder-3 .social-icon {
  margin: 5px;
  cursor: pointer;
}

body {
  font-family: "Source Sans Pro", "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

.top-container {
  max-height: 700px;
  min-height: 700px;
  background-image: linear-gradient(#077187, #77D2B7);
}

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/*# sourceMappingURL=linqto-demo.css.map */