{{!-- The following component displays Ember's default welcome message. --}}
<div class="top-container">
<NavBar />
<IntroSection />
<FeatureSection />
<PopularPick />
<AppSection />
<GlobalSection />
<NewsLetter />
<Footer />

</div>
{{!-- Feel free to remove this! --}}

{{outlet}}