{{!-- The following component displays Ember's default welcome message. --}}
<div class="top-container">
<NavBar />
<IntroSection />
</div>
<FeatureSection />
<PopularPick />
<AppSection />
<GlobalSection />
<NewsLetter />
<Footer />


{{!-- Feel free to remove this! --}}

{{outlet}}